<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <system.serviceModel>
    <services>
      <service name="NumberToWord_Server.ConverterService" behaviorConfiguration="ConverterServiceBehaviors">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8081/ConverterService" />
          </baseAddresses>
        </host>
        <endpoint contract="NumberToWord_Server.IConverterService"
                  address="http://localhost:8081/ConverterService"
                  binding="basicHttpBinding" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ConverterServiceBehaviors">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>